In [2]:
import duckdb
import json
import pandas as pd

In [21]:
conn = duckdb.connect(database = ':memory:')
profile_type = "passenger"

if profile_type == "passenger":
        path = "passenger_details"
elif profile_type == "booker":
    path = "booker_details"

firstname = "Yves"
lastname = "Kangleon"
phone = 21212
email = None
id = None


conn.execute(f"DROP TABLE IF EXISTS cdp_profile")

query = f"CREATE TEMPORARY TABLE cdp_profile AS SELECT passenger_hash,firstname,lastname,phone,emailaddress FROM read_parquet('profiles/{path}/*.parquet') WHERE "

count = 0

if firstname is not None:
    query += f"firstname like ('{firstname}') "
    count += 1

if id is not None:
    query += f"passenger_hash = '{id}'"
    conn.execute(query)
    df = conn.execute(f"SELECT * FROM cdp_profile").df()
    df_dict = df.to_dict()
    # df_dict = {key:value[0] for key,value in df_dict.items() }
    json_data = json.dumps(df_dict, sort_keys=False)
    # return Response(json_data, content_type='application/json')



if lastname is not None:
    if count >= 1:
        query += "and "
    query += f"lastname like ('{lastname}') "

if email is not None:
    if count >= 1:
        query += "and "
    query += f"emailaddress like ('{email}') "

if phone is not None:
    if count >= 1:
        query += "and "
    query += f"phone like ('{phone}') "

query += " limit 50"

conn.execute(query)
print(query)

df = conn.execute(f"SELECT * FROM cdp_profile").df()
df_dict = df.to_dict()
df_dict = {key:value[0] for key,value in df_dict.items() }
json_data = json.dumps(df_dict, sort_keys=False)

CREATE TEMPORARY TABLE cdp_profile AS SELECT passenger_hash,firstname,lastname,phone,emailaddress FROM read_parquet('profiles/passenger_details/*.parquet') WHERE firstname like ('Yves') and lastname like ('Kangleon') and phone like ('21212')  limit 50

KeyError: 0

In [11]:
conn.execute(f"DROP TABLE IF EXISTS cdp_profile")

query = f"CREATE TEMPORARY TABLE cdp_profile AS SELECT passenger_hash,firstname,lastname,phone,emailaddress FROM read_parquet('profiles/{path}/*.parquet') WHERE firstname like ('ryan') limit 50"

conn.execute(query)

df = conn.execute(f"SELECT * FROM cdp_profile").df()

In [12]:
df.head()

,passenger_hash,FirstName,LastName,Phone,EmailAddress
0,6f9cecc6ecd2b946c46a3bdc03d5956b,ryan,ordas,Unknown,Unknown
1,a4e34ae013191acc574e4fca76297a28,ryan,del rosario,Unknown,chelsea.ylime03@gmail.com
2,e63d245cfc3aefb87c8b780d50841619,ryan,buella,Unknown,Unknown

In [1]:
import pandas as pd

In [3]:
import pandas as pd

df = pd.read_parquet("../profiles/passenger_details/*")

ImportError: Unable to find a usable engine; tried using: 'pyarrow', 'fastparquet'.
A suitable version of pyarrow or fastparquet is required for parquet support.
Trying to import the above resulted in these errors:
 - Missing optional dependency 'pyarrow'. pyarrow is required for parquet support. Use pip or conda to install pyarrow.
 - Missing optional dependency 'fastparquet'. fastparquet is required for parquet support. Use pip or conda to install fastparquet.

In [3]:
import calendar

months_dict= {
        "July": 21119,
        "January": 15638,
        "September": 11990,
        "October": 15233,
        "December": 20635,
        "March": 19126,
        "April": 17617,
        "August": 11863,
        "May": 21500,
        "November": 15840,
        "February": 14107,
        "June": 20693
    }

month_indices = {month: index for index, month in enumerate(calendar.month_name) if month}

    # Sort the original dictionary based on month indices
sorted_data = dict(sorted(months_dict.items(), key=lambda item: month_indices[item[0]]))   

print(sorted_data)

{'January': 15638, 'February': 14107, 'March': 19126, 'April': 17617, 'May': 21500, 'June': 20693, 'July': 21119, 'August': 11863, 'September': 11990, 'October': 15233, 'November': 15840, 'December': 20635}

In [4]:
sorted_data["Months"] = sorted_data

In [5]:
sorted_data

{'January': 15638,
 'February': 14107,
 'March': 19126,
 'April': 17617,
 'May': 21500,
 'June': 20693,
 'July': 21119,
 'August': 11863,
 'September': 11990,
 'October': 15233,
 'November': 15840,
 'December': 20635,
 'Months': {...}}

In [6]:
sorted_data = {"hello":123

}

In [7]:
sorted_data["hello"]=6787

In [8]:
print(sorted_data)

{'hello': 6787}

In [24]:
TravelInsurance= {
        "Insurance": 4,
        "None": 205342,
        "Insurance_space1_Roundtrip_space2_": 15
    }

In [25]:
for key in TravelInsurance:
    new_key = key.replace("_space1_", " ").replace("_space2_", " ").replace("_space2_", " ")
    TravelInsurance[new_key] = TravelInsurance.pop(key)

In [26]:
print(TravelInsurance)

{'Insurance': 4, 'None': 205342, 'Insurance Roundtrip ': 15}

In [38]:
data = {"AgeRange": {
        "31_to_40": 65087,
        "41_to_50": 22965,
        "Above100": 8,
        "1_to_10": 6395,
        "21_to_30": 66505,
        "81_to_90": 357,
        "61_to_70": 14389,
        "91_to_100": 36,
        "11_to_20": 7476,
        "71_to_80": 3056,
        "51_to_60": 19087
    }
}

In [39]:
data["AgeRange"]["Unspecified"] = data["AgeRange"]["Above100"]
del data["AgeRange"]["Above100"]

In [40]:
print(data)

{'AgeRange': {'31_to_40': 65087, '41_to_50': 22965, '1_to_10': 6395, '21_to_30': 66505, '81_to_90': 357, '61_to_70': 14389, '91_to_100': 36, '11_to_20': 7476, '71_to_80': 3056, '51_to_60': 19087, 'Unspecified': 8}}

In [34]:
data = {"Details": {
        "0": {
            "insurance": "None",
            "revenue": 0,
            "baggage": "None",
            "record_locator": "YKWRTX",
            "booking_date": "2019-03-25",
            "origin": "Unknown",
            "destination": "Unknown",
            "currency": "PHP",
            "travel_date": "Unknown",
            "meals": "None"
        },
        "1": {
            "insurance": "None",
            "revenue": 0,
            "baggage": "None",
            "record_locator": "HDTLFZ",
            "booking_date": "2019-05-15",
            "origin": "Unknown",
            "destination": "Unknown",
            "currency": "PHP",
            "travel_date": "Unknown",
            "meals": "None"
        },
        "2": {
            "insurance": "None",
            "revenue": 0,
            "baggage": "None",
            "record_locator": "FBQUGS",
            "booking_date": "2019-11-19",
            "origin": "Unknown",
            "destination": "Unknown",
            "currency": "PHP",
            "travel_date": "Unknown",
            "meals": "None"
        },
        "3": {
            "insurance": "None",
            "revenue": 0,
            "baggage": "None",
            "record_locator": "ML62TN",
            "booking_date": "2023-06-11",
            "origin": "Unknown",
            "destination": "Unknown",
            "currency": "PHP",
            "travel_date": "Unknown",
            "meals": "None"
        },
        "4": {
            "insurance": "None",
            "revenue": 0,
            "baggage": "None",
            "record_locator": "MMVIWR",
            "booking_date": "2020-01-17",
            "origin": "Unknown",
            "destination": "Unknown",
            "currency": "PHP",
            "travel_date": "Unknown",
            "meals": "None"
        }
}
}

In [37]:
data["Details"] = dict(sorted(data["Details"].items(), key=lambda item: (item[1]["travel_date"] if item[1]["travel_date"] != "Unknown" else float('inf'), item[0])))

print(data)

{'Details': {'0': {'insurance': 'None', 'revenue': 0, 'baggage': 'None', 'record_locator': 'YKWRTX', 'booking_date': '2019-03-25', 'origin': 'Unknown', 'destination': 'Unknown', 'currency': 'PHP', 'travel_date': 'Unknown', 'meals': 'None'}, '1': {'insurance': 'None', 'revenue': 0, 'baggage': 'None', 'record_locator': 'HDTLFZ', 'booking_date': '2019-05-15', 'origin': 'Unknown', 'destination': 'Unknown', 'currency': 'PHP', 'travel_date': 'Unknown', 'meals': 'None'}, '2': {'insurance': 'None', 'revenue': 0, 'baggage': 'None', 'record_locator': 'FBQUGS', 'booking_date': '2019-11-19', 'origin': 'Unknown', 'destination': 'Unknown', 'currency': 'PHP', 'travel_date': 'Unknown', 'meals': 'None'}, '3': {'insurance': 'None', 'revenue': 0, 'baggage': 'None', 'record_locator': 'ML62TN', 'booking_date': '2023-06-11', 'origin': 'Unknown', 'destination': 'Unknown', 'currency': 'PHP', 'travel_date': 'Unknown', 'meals': 'None'}, '4': {'insurance': 'None', 'revenue': 0, 'baggage': 'None', 'record_locator': 'MMVIWR', 'booking_date': '2020-01-17', 'origin': 'Unknown', 'destination': 'Unknown', 'currency': 'PHP', 'travel_date': 'Unknown', 'meals': 'None'}}}