In [10]:
import pandas as pd
import duckdb

In [11]:
db = duckdb.connect(':memory:')

In [ ]:
g.db.execute("DROP TABLE IF EXISTS cdp_milestones")
g.db.execute("CREATE TEMPORARY TABLE cdp_milestones AS SELECT * FROM read_parquet('../profiles/index_milestone/*.parquet')")
milestone_df = g.db.execute("SELECT * FROM cdp_milestones").df()
milestone_dict = milestone_df.to_dict()
milestone_dict = {key: value[0] for key, value in milestone_dict.items()}
milestone_dict["passengers"] = milestone_dict["customers"]
del milestone_dict["customers"]
json_data = json.dumps(milestone_dict, sort_keys=False)
return Response(json_data, content_type='application/json')

In [29]:
data = duckdb.execute("SELECT * FROM read_parquet('./data/index_milestone.parquet')").fetch_df().to_dict()

In [30]:
data = {key: value[0] for key, value in duckdb.execute("SELECT * FROM read_parquet('./data/index_milestone.parquet')").fetch_df().to_dict().items()}

In [31]:
data

{'customers': 60791335,
 'journeys': 213685215,
 'bookers': 2566868,
 'bookings': 111348455}

In [23]:
milestone_dict = {key: value[0] for key, value in data.items()}

In [25]:
milestone_dict['passengers'] = milestone_dict.pop('customers')
milestone_dict

{'journeys': 213685215,
 'bookers': 2566868,
 'bookings': 111348455,
 'passengers': 60791335}

In [32]:
df = pd.read_parquet('./data/passenger.parquet')

In [33]:
df = df["FirstName","LastName","passenger_hash","Phone","Date"]

,passenger_hash,FirstName,MiddleName,LastName,HonorificPrefix,HonorificSuffix,EmailAddress,Phone,Gender,ProvisionalPrimaryKey,...,BookingCurrency_separator_PGK,BookingCurrency_separator_XXX,IsRegistered_separator_No,IsRegistered_separator_Yes,TravelSoloOrGroup_separator_Group,TravelSoloOrGroup_separator_Solo,TravelOrigin,TravelDestination,TravelSeat,Details
0,0024cfe6698617fc7ba69c9e04e00766,YuanJi,,Qing,MR,,Unknown,Unknown,1,217011639_9,...,0,0,1,0,1,0,"{""Unknown"": 1}","{""Unknown"": 1}","{""Unknown"": 1}","{""0"": {""insurance"": ""OW Travel Insurance "", ""r..."
1,0027502cb8a9b0c390f9d21f37eeda4c,Ruchell Angelo,,Suficiencia,MR,,Unknown,Unknown,1,110668787_806631,...,0,0,2,0,2,0,"{""Unknown"": 1, ""ZAM"": 1}","{""Unknown"": 1, ""DVO"": 1}","{""Unknown"": 1, ""18B"": 1}","{""0"": {""insurance"": ""None"", ""revenue"": ""0.0"", ..."
2,00333d4461affe870c75f60a5d226386,Roselyn P,,Dagdagen,MS,,Unknown,Unknown,2,259836144_7595771,...,0,0,1,0,0,1,"{""MNL"": 1}","{""BSO_MNL"": 1}","{""4D_19B"": 1}","{""0"": {""insurance"": ""None"", ""revenue"": ""15917...."
3,0033c7af9d0178e8e40c797eb47310e2,QinYi,,Kuang,MS,,Unknown,Unknown,2,200732033_9,...,0,0,1,0,1,0,"{""Unknown"": 1}","{""Unknown"": 1}","{""Unknown"": 1}","{""0"": {""insurance"": ""OW Travel Insurance "", ""r..."
4,003af2f28b3fe2ba76e8b032eace6d43,Steave C.,Unknown,Caballes,MR,Unknown,Unknown,Unknown,1,324647292_638341,...,0,0,2,0,2,0,"{""MNL"": 1, ""CEB"": 1}","{""DGT"": 1, ""MNL"": 1}","{""Unknown"": 1, ""21D"": 1}","{""0"": {""insurance"": ""None"", ""revenue"": ""1989.7..."

In [2]:
check = [1,2,3,4,5,6]

check.remove(1)

print(check)

[2, 3, 4, 5, 6]